.page {
    height: 100vh;
    max-width: 100vw;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

.input {
    resize: none;
    max-width: 210mm;
    min-width: 210mm;
    padding: 16mm 20mm;
}

.preview {
    flex: 1;
    max-width: 210mm;
    min-width: 210mm;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 2px;
    min-height: 400px;
    padding: 10mm 20mm;
}